<!DOCTYPE html>
<html>

<head>
    <title>Blue Nami</title>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<div class="contenedor">
    <header>
        <div class="log">
            <a href="#">Login</a>
            <a href="#">Registro</a>
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="nav">
            <div class="logo">
                <img src="/img/logoBN.png">
            </div>
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle" />
            <div class="menu">
                <a href="#">home</a>
                <a href="#">products</a>
                <a href="#">about us</a>
                <a href="#">contact us</a>
            </div>
        </div>
    </header>
    <section>
        
<div class="producto">
    <div class="imgproducto">
        <div class="imggrande">
            <img src="/img/tabla1.png">
        </div>
        <div class="imgcambio">
            <img src="/img/tabla1.png">
            <img src="/img/tabla1.png">
            <img src="/img/tabla1.png">
            <img src="/img/tabla1.png">
            <img src="/img/tabla1.png">
        </div>
    </div>
    <div class="desproductos">
        <div class="titproducto">
            <h4>Tabla muy importante</h4>
            <h1>Tabla Super Fish</h1>
        </div>
        <div class="colores">
            <p>Colores</p> 
            <div class="color1">
            </div>
            <div class="color2">  
            </div>
            <div class="color3">
            </div>
        </div>
        <div class="precios">
            <p>$2500</p>
        </div>
        <div class="botAgrCar">
            <p>Agregar al Carrito</p>
        </div>

        <div class="descripcion">
            <p>Reflejos:
                <p>Compatible con 650B, para que pueda intercambiar llantas y neumáticos Rock Monster.</p>
                <p>La geometría lista para grava te mantiene en control en superficies sueltas.</p>
                <p></p>Los frenos de disco brindan una potencia de frenado inigualable.</p>

                <p>Elija que le entreguen su bicicleta completamente construida.</p>
                <p>Devoluciones de 30 días.</p>
                <p>Garantía de cuadro y horquilla de por vida.</p>
        </div>
              
    </div>
</div>
<div class="division">
   <p>Productos Relacionados</p>
</div>
    </section>
    <main>
        <div class="productosRelacionados">
            
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>

</html>